@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #111;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Mobile optimizations */
  touch-action: manipulation;
  /* Improves touch response */
  overscroll-behavior-y: none;
  /* Prevents pull-to-refresh */
  -webkit-tap-highlight-color: transparent;

  /* Support for iOS notches/safe areas */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}